.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px
}

.dialog {
    padding: 10px
}

.dialogs .dialogItems {
    padding: 20px
}

.dialogs .dialogItems .active {
    color: black;
}

.messeges {
    padding: 20px
}

.messeges .messege {
    padding: 20px
}